# 🔹 Ignore dependencies
node_modules/
src/.DS_Store
src/app/main/.DS_Store

# 🔹 Ignore build and compiled files
dist/
out-tsc/
coverage/

# 🔹 Ignore Angular CLI cache
.angular/

# 🔹 Ignore IDE & editor settings
.vscode/
.idea/
*.iml

# 🔹 Ignore logs & temp files
npm-debug.log*

