@import "../../../styles/variables";

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9rem;
  padding: 1rem;
}

.beer-item {
  flex: 1 1 calc(33.333% - 3rem);
  max-width: calc(25% - 1rem);
  background-color: #f7f7ff;
  border: none;
  border-radius: 10px;
  text-align: center;
  justify-items: center;
  padding: 1.5rem;
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: $breakpoint-sm) {
    max-width: 250px;
    margin: 0.5rem;
  }
}

.beer-header {
  position: absolute;
  top: 15px;
  right: 15px;
}

.favorite-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.beer-image {
  width: 100px;
  height: auto;
  margin: 1.5rem 0;

  @media screen and (max-width: $breakpoint-sm) {
    width: 60px;
  }
}

.details-button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
}

.details-button img {
  width: 24px;
  height: auto;
}
