$font-family: "Roboto";
$font-family-alt: sans-serif;

$primaryColor: #ffc71c;
$primaryDarkColor: #ffc102;
$primaryDarkerColor: #ce9c00;
$primaryTextColor: #000;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$focusOutlineColor: $primaryColor !default;
$focusOutline: 0 none !default;
$focusOutlineOffset: 0 !default;
$inputFocusOutlineOffset: $focusOutlineOffset !default;
$focusShadow: 0 0 0 1px $focusOutlineColor !default;

@import "general";
@import "form";
@import "mixins";
@import "common";
@import "input";
@import "checkbox";
@import "buttons";

$breakpoint-2xs: 480px;
$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

@mixin respond($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
