@import "../../../styles/variables";

$button-width: 2.357rem;
$input-max-width: 250px;

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-inline: rem;
  transition: box-shadow 0.3s ease-in-out;

  @media screen and (min-width: $breakpoint-md) {
    box-shadow: none;
    transition: none;
  }
}

.filters-button {
  font-size: 2rem;
  color: $primaryTextColor;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  display: block;
  margin: 10px auto;
  position: relative;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 1000;

  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }
}

.filters {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: calc(100% - $button-width);
  max-width: $breakpoint-lg;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &.filters-open {
    display: flex;
    max-height: 350px;
    padding-bottom: 1rem;
    overflow: visible;
  }

  @media screen and (min-width: $breakpoint-xs) {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, $input-max-width));
    grid-gap: 1rem 2rem;
    justify-content: center;
  }

  @media screen and (min-width: $breakpoint-sm) {
    grid-gap: 1rem 4rem;
  }

  @media screen and (min-width: $breakpoint-md) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(max-content, $input-max-width)
    );
    justify-content: center;
    max-height: initial;
    overflow: initial;
  }

  &-open {
    max-height: 350px;
    padding-bottom: 1rem;
    overflow: visible;
  }

  .input {
    max-width: $input-max-width;
  }

  .slider-container {
    position: relative;
    width: 100%;
    margin-top: 10px; /* Adjust space for better layout */
  }

  .slider-value {
    position: absolute;
    top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    transform: translateX(-50%);
    transition: 0.1s ease;
  }

  .left-value {
    left: 0%;
  }

  .right-value {
    left: 100%;
  }
}
